<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="assets/css/skeleton.css"/>
    <link rel="stylesheet" href="assets/css/normalize.css"/>
    <link rel="stylesheet" href="assets/css/top-style.css"/>
</head>
<body>
  <div>
        <div class="row">
            <div class="three columns">
                Logo
            </div>
            <div class="six columns">
                Menu Items
            </div>
            <div class="three columns">
                Search Bar
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                Main Photo
            </div>
        </div>
        <div class="row">
            <div class="nine columns">
                Main Content
            </div>
            <div class="three columns">
                Sidebar
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                Footer
            </div>
        </div>
    </div>
</body>
</html>
